* {
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
}


body {
    margin-top: 10px;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;

}


.page {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}
.menu {
    height: 1000px;
    width: 300px;
     float: left;
    margin-left: 150px;
    margin-top: 50px;
   
}

.menu img {
    float: left;
    margin: 30px;
    max-width: 200px;
}

.menu p {
      margin-top: 10px;
      margin-right: 30px;
     text-align: justify;
      color: #666;

}
.sidebar {
     height: 1000px;
    width: 300px;
    float: left;
    margin-top: 50px;

}
.sidebar img {
    float: left;
    margin: 30px;
    max-width: 200px;
}

.sidebar p {
    margin-top: 10px;
     margin-right: 30px;
    text-align: justify;
      color: #666;
}
.content {
    float: left;
  height: 1000px;
    width: 300px;
   margin-left: 150px;
   margin-top: 50px;
}

.content img {
    float: left;
    margin: 30px;
    max-width: 200px;
   
}
.content p {
      margin-top: 10px;
     margin-right: 30px;
    text-align: justify;
      color: #666;
    
}

h1 {
    margin-left: 20px;
    color: #0974b3
}

h3 {
    margin-left: 20px;
    color: #666;
    font-weight: lighter;
}

.section {
    display: block;
}

section.groove {

  padding: 20px 20px;
    border: 1px solid grey;
    border-top: 5px solid grey;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.groove:hover {
 outline: 0px solid black;
  padding: 20px 20px;
  border-top: 5px solid #0974b3;
  border-style: groove;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.translate:hover {
   transform: translate(0px, -50px);
   transition: 0.5s;
}

.table {
    background: #0974b3;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    float: left;
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.table:hover {
    opacity: 0.5;
}

.container:hover {
    opacity: 0.3;
}
